{% extends 'base.html' %}

{% block title %}
    <title>publisher_lisy</title>
{% endblock title %}

{% block info %}
    <h3>publisher</h3>
{% endblock info %}

{% block con %}
    <a href="{% url 'user1:add_publisher' %}" class="btn btn-info">创建</a>
    <table class="table table-bordered table-hover table-responsive table-striped">
        <thead>
            <tr>
                <th>序号</th>
                <th>ID</th>
                <th>名称</th>
                <th>修改操作</th>
                <th>删除操作</th>

            </tr>
        </thead>
        <tbody>
            {% for publisher in current_page_data %}
                <tr>
                    <td>{{ forloop.counter|add:seque }}</td>
                    <td>{{ publisher.id }}</td>
                    <td><a href="/book_list/{{ publisher.id }}/publisher/">{{ publisher.name}}</a></td>
                    <td><a href="/update_publisher/{{ publisher.id }}/" class="btn btn-success" >修改</a></td>
                    <td><button class="btn btn-danger my-delete">删除</button> </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock con %}