{% extends 'base.html' %}

{% block title %}
    <title>register</title>
{% endblock title %}

{% block leftlist %}
    <div class="row">
        <ul class="nav nav-pills nav-stacked my-left-con">
            <li role="presentation"><a href="{%  url 'user1:login' %}">登录</a> </li>
            <li role="presentation" class="active"><a href="{% url 'user1:register' %}">注册</a> </li>
        </ul>
    </div>
{% endblock leftlist %}

{% block info %}
    <h3>欢迎来到</h3>
    <h3>图书管理系统</h3>
{% endblock info %}

{% block cancel %}

{% endblock %}

{% block con %}
    <form action="" method="post" autocomplete="off" novalidate>
        {% csrf_token %}
        {% for field in register_form %}
            <p>
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                <span class="my-error-span">{{ field.errors.0 }}</span>
            </p>
        {% endfor %}

        <p id="r_pwd">
            <label for="r_password">确认密码</label>
            <input id="r_password" name="r_password" type="password" class="form-control">
            <span class="my-error-span">{{ error_msg }}</span>
        </p>

        <input class="pull-right btn btn-success" type="submit">
    </form>
{% endblock con %}

{% block script %}
    <script type="text/javascript">
        $(function () {
            // 页码不显示
            $('.my-page').css('display', 'none');
        });

        // 用户失去焦点之后，查看是否已经有该用户了
        $('#id_username').blur(function () {
            $.ajax({
                url:'/exist_user',
                type:'post',
                data:{'username':$('#id_username').val()},
                success:function (data) {
                    data = JSON.parse(data);
                    if(data.status ===1){
                        $('#id_username').siblings('span').text(data.msg)
                    }else {
                        $("#id_username").siblings('span').text('')
                    }
                }
            })
        })
    </script>
{% endblock script %}